/* frontend/src/styles/tailwind.css */
@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@font-face {
  font-family: 'Passero One';
  src: url('PasseroOne-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}